<style>
    .slider {
        -webkit-appearance: none;

        height: 5px;
        border-radius: 5px;
        background: #b9b9b9;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        margin: 5px;
        margin-left: 2rem;
        transform: translate(0%, 50%);
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: rgb(0, 129, 189);
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: rgb(0, 129, 189);
        cursor: pointer;
    }
</style>



<a class="btn-sm btn-secondary" href="/features/list"><i class="fa fa-chevron-left" style="margin-bottom: 2rem;"></i>
    Back</a>
<h3 style="font-family: Merriweather Sans !important;">{{viewTitle}}</h3>

<form action="/features" method="POST" autocomplete="off">

    <input type="hidden" name="_id" value="{{feature._id}}">
    <div class="form-group">
        <label>Feature Name</label>
        <input type="text" class="form-control" name="feature_title" placeholder="" value="{{feature.feature_title}}">
        <div class="text-danger">
            {{feature.featureTitleError}}</div>
    </div>
    <div class="form-group">
        <label>Feature Content</label>
        <textarea class="form-control" rows="10" name="feature_content"
            placeholder="">{{feature.feature_content}}</textarea>
        <div class="text-danger">
            {{feature.featureContentError}}</div>
    </div>
    <div class="form-group">
        <label>Choose a location</label>
        <p style="font-size: 0.7rem; margin-bottom: 0rem;">Click and drag to select a region.</p>
        <p style="font-size: 0.7rem; margin-bottom: 0rem;">Hold the ALT key and drag to move the camera.</p>
        <div class="renderObject adminMode" id="renderObject1">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label id="rotateChangerLabel">Rotate</label>
                <input id="rotateChanger" type="range" min="-180" max="180" value="0" class="slider">
            </div>
            <div class="form-group col-md-6">
                <label id="heightChangerLabel">Change height</label>
                <input id="heightChanger" type="range" min="-100" max="100" value="0" class="slider">
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Coordinate 1</label>
            <input type="text" class="form-control" name="coordinates_1" id="coord_entry_1"
                placeholder="Supply a 3-tuple in the format (x,y,z)" value="{{feature.coordinates_1}}">
        </div>
        <div class="form-group col-md-6">
            <label>Coordinate 2</label>
            <input type="text" class="form-control" name="coordinates_2" id="coord_entry_2"
                placeholder="Supply a 3-tuple in the format (x,y,z)" value="{{feature.coordinates_2}}">
        </div>
        <div class="form-group col-md-6">
            <label>Rotation</label>
            <input type="text" class="form-control" name="rotation" placeholder="Supply a rotation value"
                id="rotation_entry" value="{{feature.rotation}}">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"
            style="background-color: #10C400 !important; border-color: #10C400 !important;"><i
                class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/features/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>

<script src="js/WebGL.js"></script>
<script src="js/three.js"></script>
<script src="js/OrbitControls.js"></script>
<script src="js/GLTFLoader.js"></script>
<script src="js/Selectable_Zone.js"></script>
<script src="js/interactive_map_api.js"></script>
<script src="js/interactive_map.js"></script>