<h3 style="font-family: Merriweather Sans !important;">{{viewTitle}}</h3>

<form action="/features" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{feature._id}}">
    <div class="form-group">
        <label>Feature Name</label>
        <input type="text" class="form-control" name="feature_title" placeholder="" value="{{feature.feature_title}}">
        <div class="text-danger">
            {{feature.featureTitleError}}</div>
    </div>
    <div class="form-group">
        <label>Feature Content</label>
        <textarea class="form-control" rows="10" name="feature_content" placeholder="">{{feature.feature_content}}</textarea>
        <div class="text-danger">
            {{feature.featureContentError}}</div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Coordinates 1</label>
            <input type="text" class="form-control" name="coordinates_1" placeholder="Supply a 3-tuple in the format (x,y,z)" value="{{feature.coordinates_1}}">
        </div>
        <div class="form-group col-md-6">
            <label>Coordinates 2</label>
            <input type="text" class="form-control" name="coordinates_2" placeholder="Supply a 3-tuple in the format (x,y,z)" value="{{feature.coordinates_2}}">
        </div>
         <div class="form-group col-md-6">
            <label>Rotation</label>
            <input type="text" class="form-control" name="rotation" placeholder="Supply a rotation value" value="{{feature.rotation}}">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info" style="background-color: #10C400 !important; border-color: #10C400 !important;"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/features/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>