<!--Form styles-->
<style>

    .black {
        color: black !important;
    }

    .slider {
        -webkit-appearance: none;
        width: 75%;
        height: 0.2rem;
        border-radius: 5px;
        background: #b9b9b9;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        transform: translate(0%, 50%);
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: #10c400;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: #10c400;
        cursor: pointer;
    }

    .float-right {
        float: right !important;
    }

    .required {
        color: red;
    }

    .renderObject {
        width: 100%;
        height: 100%;
        display: block;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .instruction {
        margin: 0.2rem;
    }

</style>


<h3 style="font-family: Merriweather Sans !important;">{{viewTitle}}</h3>

<!--Form to add/update a feature; contents dynamically populated to/from MongoDB-->
<form class="container" action="/features" method="POST" autocomplete="off">

    <input type="hidden" name="_id" value="{{feature._id}}">
    <div class="form-group">
        <label>Feature Name</label><span class="required">*</span>
        <input type="text" class="form-control" name="feature_title" placeholder="Add a title" value="{{feature.feature_title}}" required>
        <div class="text-danger">
            {{feature.featureTitleError}}</div>
    </div>
    <div class="form-group">
        <label>Feature Content</label><span class="required">*</span>
        <textarea class="form-control" rows="10" name="feature_content"
            placeholder="Add a description" required>{{feature.feature_content}}</textarea>
        <div class="text-danger">
            {{feature.featureContentError}}</div>
    </div>
    <div class="form-group">
            <label>Image Link</label>
            <input type="text" class="form-control" name="link" placeholder="Add an image link" value="{{feature.link}}">
    </div>
    <div class="form-group">
        <label>Choose a location</label><span class="required">*</span>
        <p class="text-muted instruction">Click and drag to select a region.</p>
        <p class="text-muted instruction">Hold the ALT key and drag to move the camera.</p>

        <div class="form-row">
            <div class="renderObject adminMode" id="renderObject1"></div>
            <div class="form-group col-md-6">
                <label class="black" id="rotateChangerLabel">Rotate</label>
                </br>
                <input id="rotateChanger" type="range" min="-180" max="180" value="0" class="slider">
            </div>
            <div class="form-group col-md-6">
                <label class="black" id="heightChangerLabel">Change height</label>
                </br>
                <input id="heightChanger" type="range" min="-100" max="100" value="0" class="slider">
            </div>
        </div>
    </div>

    <div class="form-row">
        <input type="hidden" class="form-control" name="coordinates_1" id="coord_entry_1"
            placeholder="Supply a 3-tuple in the format (x,y,z)" value="{{feature.coordinates_1}}" required>
        <input type="hidden" class="form-control" name="coordinates_2" id="coord_entry_2"
            placeholder="Supply a 3-tuple in the format (x,y,z)" value="{{feature.coordinates_2}}" required>
        <input type="hidden" class="form-control" name="rotation" placeholder="Supply a rotation value" id="rotation_entry" value="{{feature.rotation}}">
    </div>
    <div class="form-group float-right">
        <button type="submit" class="btn btn-info" style="background-color: #10C400 !important; border-color: #10C400 !important;">Save</button>
        <a class="btn btn-secondary" href="/features/list"></i>Back</a>
    </div>
</form>

<!--Scripts to retrieve visualization of 3D model-->
<script src="../js/WebGL.js"><{{!}}/script>
<script src="../js/three.js"><{{!}}/script>
<script src="../js/OrbitControls.js"><{{!}}/script>
<script src="../js/GLTFLoader.js"><{{!}}/script>
<script src="../js/Selectable_Zone.js"><{{!}}/script>
<script src="../js/interactive_map_api.js"><{{!}}/script>
<script src="../js/interactive_map.js"><{{!}}/script>
